figure.item img{
  width: 400px;
}

figure.item{
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

figure.item figcaption{
  font-size: 1.2em;
  color: #333;
  text-align: center;
}